.image-upload>input {
    display: none;
  }

  .cover-upload>input {
    display: none;
  }

  img {
      margin-bottom: 0px !important;
  }

  .form-search.active {
    opacity: 1;
    visibility: visible;
    background: aliceblue !important;
}

.form-search.active li {
    padding: 20px !important;
    list-style-type: none;
}

  .button {
    margin-right: 5px;
    margin-bottom: 30px;
    display: block;
    width: 115px;
  
  font-size: 12px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    line-height: 25px;
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#grad1 {
    background-color: #3003d4;
    background-image: linear-gradient(120deg, #4d40ff, #81D4FA)
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
   
    box-sizing: border-box;
    
    position: relative;
    
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}


#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input[type="radio"] {
    width: 10%;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    /* border-bottom: 2px solid #033347; */
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #033347;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #033347
}

#msform .action-button-previous {
    width: 100px;
    background: rgb(234, 234, 234);
    font-weight: bold;
    color: rgb(51, 50, 50);
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

/* .card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  width: 300px;
  max-width: 300px;
  height: 705px;
  max-height: 705px;
} */

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative
}

.create-group {
  border: 1px solid #ede9e9;
}

/* .card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    width: 300px;
    max-width: 300px;
    height: 705px;
    max-height: 705px;
} */

.fs-title {
    font-size: 18px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    padding-left: 57px;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #033347;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    /* background: lightblue; */
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 50%;
    object-fit: cover
}

/* HEHE */

body{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*  */

.container.friends {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Baloo Paaji 2', cursive;
  }

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  /* max-width: 100%; */
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  /* width: 100%; */
  width: 300px;
    max-width: 300px;
    height: 705px;
    max-height: 705px;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  /* border: 1px solid #ffffff; */
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

/*  */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

/* .container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Baloo Paaji 2', cursive;
} */

/* .card {
  background-color: #222831;
  height: 37rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
} */

/* .card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
} */


/* .draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
} */

/* .draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
} */

/* .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
} */

/* .draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
} */

/* .btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
} */

/* .btn:focus {
  outline: 2px dotted #55d7dc;
} */


.social-icons {
  padding: 0;
  list-style: none;
  margin: -0.3em;
} 

 .social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
} 

.social-icons i {
  color: #fff;
  position: absolute;
  top: 1.2em;
  left: 0.75em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
} 

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
} 

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-gap: 20px;
  font-size: 1.2em;
} 
.grid-containeraudience {
  display: grid;
  grid-template-columns: 0.15fr 1fr 0.1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}




.grid-containerChat{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
} 

.showCompNewsfeed :hover{
  cursor: pointer;
  font-size: 18px;
}

/* .search {
  width: 100%;
  position: relative;
  display: flex;
} */

.searchTerm {
  width: 100%;
  border-color: rgba(5, 5, 5, 0.103) !important;
  border: 1px solid;
  padding: 15px;
  height: 26px;

  border-radius: 5px;

}

.searchTerm:focus{
  border-color: #3069d8 !important;
}
/*
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #3069d8;
  background: #3069d8;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */

/* .fa.custom-fa{
  font-size:12em;
  -webkit-text-stroke-color: blue;
 color:transparent;
 } */

 /* Stories */
 .stories{
   margin-top:11px;
 }
 .stories .head {
  margin-bottom:20px;
}
.stories h4 {
  color:#4e5156;
  display: contents;
}



.stories a {
  font-weight:400;
  color:#1976f3;
  text-decoration:none;
}

.stories ul {
  margin:0;
  padding:0;
  list-style:none;
}

.stories ul li {
  margin-right:10px;
}
.stories ul li:last-child {
  margin-right:0px;
}
.storyLeft{
  margin-left:11%
  }
.stories .stories-card {
  
  background:#E7E7E7 ;
  width: 108px;
  height: 165px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(50 50 93 / 10%);
  
}

.stories .stories-justcreate {
  
  background:#d6d6d6 ;
  width: 115px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgb(50 50 93 / 10%);
  
}



.stories .stories-card .stories-img {
  text-align: center;
  width:100%;
  padding:25px 30px 0 30px;
  background-size:cover;
  background-position:center;
}
.stories .stories-card .stories-by {
  width: 108px;
    height: 56px;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: #fff;
    padding: 13px 15px;
    font-size: 18px;
    line-height: 25px;
}
.stories .stories-card .stories-by h5 {
  color: black;
    margin: 8px;
    font-size: 11px;
    font-weight: 200;
    text-align: center;
}
.stories .stories-card .add-storie {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin: 90px 15px 15px 36px;
  background: #033347;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.stories .stories-card .add-storie .avatar {
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
}
by {
  position: absolute;
  bottom: 15px;
  color:#999;
  font-size:14px;
  font-style:italic;
}
by a {
  color:#999;
  text-decoration:none;
}
.grid-container1 {
  display: grid;
  grid-template-columns:  1fr 0.1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
.add-stry{
position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin: 90px 15px 15px 36px;
  background: #033347;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: 1;
}


.add-reel{

  position: relative;
  display: inline-block;
  top: 0;
  width: 47%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-left: 7px;
  /* margin: 90px 15px 15px 36px; */
  background: #033347;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  z-index: 1;

}
.add-reel:hover {
  cursor: pointer;
}


.reelvideo {
  width: 200px;
  height: 300px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding-top: 150px;
}